<?xml version='1.0' encoding='utf-8'?>
<settings>
  <debug>False</debug>
  <consoleLevel>INFO</consoleLevel>
  <logFile></logFile>
  <logLevel>DEBUG</logLevel>
  <outputFormat>epub</outputFormat>
  <kindleCompressionLevel>1</kindleCompressionLevel>
  <noDropcapsSymbols>'"-.…0123456789‒–—«»</noDropcapsSymbols>
  <transliterate>False</transliterate>
  <noMOBIoptimization>False</noMOBIoptimization>
  <!-- Voyage, PW3, Aura -->
  <screenWidth>988</screenWidth>
  <screenHeight>1322</screenHeight>
  <!-- PW2
  <screenWidth>658</screenWidth>
  <screenHeight>904</screenHeight>
   -->
  <!-- Old eInk devices
  <screenWidth>573</screenWidth>
  <screenHeight>800</screenHeight>
  -->
  <defaultProfile>default</defaultProfile>
  <profiles>
    <profile description="Default profile" name="default">
      <hyphens>True</hyphens>
      <hyphensReplaceNBSP>False</hyphensReplaceNBSP>
      <dropcaps>None</dropcaps>
      <tocMaxLevel>1000</tocMaxLevel>
      <tocBeforeBody>False</tocBeforeBody>
      <flatTOC>False</flatTOC>
      <css parse="True">profiles/default.css</css>
      <xslt>spaces.xsl</xslt>
      <chapterOnNewPage>True</chapterOnNewPage>
      <authorFormat>#l #f #m</authorFormat>
      <bookTitleFormat>(#number #abbrseries) #title</bookTitleFormat>
      <annotationTitle>Annotation</annotationTitle>
      <tocTitle>Content</tocTitle>
      <notesMode>default</notesMode>
      <notesBodies>notes</notesBodies>
      <generateTOCPage>True</generateTOCPage>
      <generateAnnotationPage>True</generateAnnotationPage>
      <generateOPFGuide>True</generateOPFGuide>
      <kindleRemovePersonalLabel>True</kindleRemovePersonalLabel>
      <vignettes>
        <vignette level="default">
          <beforeTitle>profiles/vignettes/title_before.png</beforeTitle>
          <afterTitle>profiles/vignettes/title_after.png</afterTitle>
          <chapterEnd>profiles/vignettes/chapter_end.png</chapterEnd>
        </vignette>
        <vignette level="h0">
          <beforeTitle>None</beforeTitle>
          <afterTitle>None</afterTitle>
          <chapterEnd>None</chapterEnd>
        </vignette>
        <vignette level="h1">
          <beforeTitle>profiles/vignettes/title_before.png</beforeTitle>
          <afterTitle>profiles/vignettes/title_after.png</afterTitle>
          <chapterEnd>profiles/vignettes/chapter_end.png</chapterEnd>
        </vignette>
      </vignettes>
    </profile>
    <profile description="Using Liberation fonts" name="liberation">
      <hyphens>False</hyphens>
      <hyphensReplaceNBSP>False</hyphensReplaceNBSP>
      <dropcaps>None</dropcaps>
      <tocMaxLevel>1000</tocMaxLevel>
      <tocBeforeBody>False</tocBeforeBody>
      <flatTOC>True</flatTOC>
      <css parse="True">profiles/sample.css</css>
      <chapterOnNewPage>True</chapterOnNewPage>
      <authorFormat>#l #f #m</authorFormat>
      <bookTitleFormat>(#abbrseries #number) #title</bookTitleFormat>
      <annotationTitle>Annotation</annotationTitle>
      <tocTitle>Content</tocTitle>
      <notesMode>default</notesMode>
      <notesBodies>notes</notesBodies>
      <generateTOCPage>True</generateTOCPage>
      <generateAnnotationPage>True</generateAnnotationPage>
      <generateOPFGuide>True</generateOPFGuide>
      <kindleRemovePersonalLabel>True</kindleRemovePersonalLabel>
      <vignettes/>
    </profile>
    <profile description="No hyphenation" name="nohyph">
      <hyphens>False</hyphens>
      <hyphensReplaceNBSP>False</hyphensReplaceNBSP>
      <dropcaps>None</dropcaps>
      <tocMaxLevel>1000</tocMaxLevel>
      <tocBeforeBody>False</tocBeforeBody>
      <flatTOC>True</flatTOC>
      <css parse="True">profiles/default.css</css>
      <chapterOnNewPage>True</chapterOnNewPage>
      <authorFormat>#l #f #m</authorFormat>
      <bookTitleFormat>(#abbrseries #number) #title</bookTitleFormat>
      <annotationTitle>Annotation</annotationTitle>
      <tocTitle>Content</tocTitle>
      <notesMode>default</notesMode>
      <notesBodies>notes</notesBodies>
      <generateTOCPage>True</generateTOCPage>
      <generateAnnotationPage>True</generateAnnotationPage>
      <generateOPFGuide>True</generateOPFGuide>
      <kindleRemovePersonalLabel>True</kindleRemovePersonalLabel>
      <vignettes/>
    </profile>
    <profile description="Vignettes" name="vignettes">
      <hyphens>True</hyphens>
      <hyphensReplaceNBSP>False</hyphensReplaceNBSP>
      <dropcaps>None</dropcaps>
      <tocMaxLevel>1000</tocMaxLevel>
      <tocBeforeBody>False</tocBeforeBody>
      <flatTOC>True</flatTOC>
      <css parse="False">profiles/default.css</css>
      <chapterOnNewPage>True</chapterOnNewPage>
      <authorFormat>#l #f #m</authorFormat>
      <bookTitleFormat>(#abbrseries #number) #title</bookTitleFormat>
      <annotationTitle>Аннотация</annotationTitle>
      <tocTitle>Содержание</tocTitle>
      <notesMode>default</notesMode>
      <notesBodies>notes</notesBodies>
      <generateTOCPage>True</generateTOCPage>
      <generateAnnotationPage>True</generateAnnotationPage>
      <generateOPFGuide>True</generateOPFGuide>
      <kindleRemovePersonalLabel>True</kindleRemovePersonalLabel>
      <vignettes>
        <vignette level="default">
          <beforeTitle>profiles/vignettes/title_before.png</beforeTitle>
          <afterTitle>profiles/vignettes/title_after.png</afterTitle>
          <chapterEnd>profiles/vignettes/chapter_end.png</chapterEnd>
        </vignette>
        <vignette level="h0">
          <beforeTitle>None</beforeTitle>
          <afterTitle>None</afterTitle>
          <chapterEnd>None</chapterEnd>
        </vignette>
        <vignette level="h1">
          <beforeTitle>profiles/vignettes/title_before.png</beforeTitle>
          <afterTitle>profiles/vignettes/title_after.png</afterTitle>
          <chapterEnd>profiles/vignettes/chapter_end.png</chapterEnd>
        </vignette>
      </vignettes>
    </profile>
    <profile description="Using Windows fonts" name="winfonts">
      <hyphens>True</hyphens>
      <hyphensReplaceNBSP>False</hyphensReplaceNBSP>
      <tocMaxLevel>1000</tocMaxLevel>
      <dropcaps>Smart</dropcaps>
      <tocBeforeBody>False</tocBeforeBody>
      <flatTOC>True</flatTOC>
      <css parse="True">profiles/winfonts.css</css>
      <chapterOnNewPage>True</chapterOnNewPage>
      <authorFormat>#l #f #m</authorFormat>
      <bookTitleFormat>(#abbrseries #number) #title</bookTitleFormat>
      <annotationTitle>Annotation</annotationTitle>
      <tocTitle>Contents</tocTitle>
      <notesMode>default</notesMode>
      <notesBodies>notes</notesBodies>
      <generateTOCPage>True</generateTOCPage>
      <generateAnnotationPage>True</generateAnnotationPage>
      <generateOPFGuide>True</generateOPFGuide>
      <kindleRemovePersonalLabel>True</kindleRemovePersonalLabel>
      <vignettes/>
    </profile>
  </profiles>
</settings>
