<?xml version='1.0' encoding='utf-8'?>
<settings>
  <currentProfile>default</currentProfile>
  <currentFormat>mobi</currentFormat>
  <embedFontFamily/>
  <hyphens>No</hyphens>
  <outputFolder>C:\Users\dnkorpushov\Desktop\dest</outputFolder>
  <lastUsedPath>C:\Users\dnkorpushov\Google Диск\Книги\Роберт ван Гулик</lastUsedPath>
  <writeLog>True</writeLog>
  <clearLogAfterExit>True</clearLogAfterExit>
  <logLevel>INFO</logLevel>
  <kindlePath/>
  <kindleSyncCovers>True</kindleSyncCovers>
  <GoogleMail>dnkorpushov@gmail.com</GoogleMail>
  <GooglePassword>Dnk0801375273</GooglePassword>
  <KindleMail>dnkorpushov@kindle.com</KindleMail>
  <bookInfoVisible>True</bookInfoVisible>
  <bookInfoSplitterState>708, 259</bookInfoSplitterState>
  <columns>
    <c0>328</c0>
    <c1>177</c1>
    <c2>201</c2>
  </columns>
  <geometry>
    <x>365</x>
    <y>370</y>
    <width>990</width>
    <height>562</height>
  </geometry>
</settings>
