<?xml version='1.0' encoding='utf-8'?>
<settings>
  <currentProfile>default</currentProfile>
  <currentFormat>mobi</currentFormat>
  <hyphens>Profile</hyphens>
  <outputFolder>C:\Users\dnkorpushov\Desktop\books</outputFolder>
  <lastUsedPath>C:/Users/dnkorpushov/Google Диск/Книги/Роберт ван Гулик</lastUsedPath>
  <convertToSourceDirectory>False</convertToSourceDirectory>
  <writeLog>False</writeLog>
  <kindlePath>d:\</kindlePath>
  <kindleCopyToDevice>True</kindleCopyToDevice>
  <kindleSyncCovers>False</kindleSyncCovers>
  <columns>
    <c0>217</c0>
    <c1>177</c1>
    <c2>382</c2>
  </columns>
  <geometry>
    <x>-1254</x>
    <y>174</y>
    <width>796</width>
    <height>395</height>
  </geometry>
</settings>
