<?xml version='1.0' encoding='utf-8'?>
<settings>
  <currentProfile>KindleNew</currentProfile>
  <currentFormat>mobi</currentFormat>
  <embedFontFamily/>
  <hyphens>profile</hyphens>
  <outputFolder/>
  <lastUsedTargetPath>C:\Users\dnkorpushov\Desktop</lastUsedTargetPath>
  <lastUsedPath>C:\work</lastUsedPath>
  <writeLog>True</writeLog>
  <clearLogAfterExit>False</clearLogAfterExit>
  <logLevel>DEBUG</logLevel>
  <kindlePath/>
  <kindleSyncCovers>False</kindleSyncCovers>
  <kindleDocsSubfolder/>
  <GoogleMail/>
  <GooglePassword/>
  <KindleMail/>
  <bookInfoVisible>True</bookInfoVisible>
  <bookInfoSplitterState>630, 299</bookInfoSplitterState>
  <columns>
    <c0>100</c0>
    <c1>100</c1>
    <c2>428</c2>
  </columns>
  <geometry>
    <x>-1286</x>
    <y>71</y>
    <width>952</width>
    <height>500</height>
  </geometry>
</settings>
