<?xml version='1.0' encoding='utf-8'?>
<settings>
  <debug>False</debug>
  <consoleLevel>INFO</consoleLevel>
  <logFile>fb2mobi-debug.log</logFile>
  <logLevel>DEBUG</logLevel>
  <noMOBIoptimization>False</noMOBIoptimization>
  <outputFormat>epub</outputFormat>
  <kindleCompressionLevel>1</kindleCompressionLevel>
  <noDropcapsSymbols>'"-.…0123456789‒–—«»“”&lt;&gt;</noDropcapsSymbols>
  <transliterate>False</transliterate>
  <!-- Oasis 2 -->
  <screenWidth>1264</screenWidth>
  <screenHeight>1680</screenHeight>
  <!-- Voyage, PW3 -->
  <!--screenWidth>1080</screenWidth><screenHeight>1440</screenHeight-->
  <!-- PW2
  <screenWidth>758</screenWidth><screenHeight>1024</screenHeight>
   -->
  <!-- Old eInk devices
  <screenWidth>573</screenWidth><screenHeight>800</screenHeight>
  -->
  <defaultProfile>default</defaultProfile>
  <!--defaultProfile>chapters</defaultProfile-->
  <profiles>
    <profile description="Default profile" name="default">
      <openBookFromCover>False</openBookFromCover>
      <kindleRemovePersonalLabel>True</kindleRemovePersonalLabel>
      <removePngTransparency>True</removePngTransparency>
      <hyphens>True</hyphens>
      <hyphensReplaceNBSP>True</hyphensReplaceNBSP>
      <css parse="True">profiles/default.css</css>
      <xslt>spaces.xsl</xslt>
      <!--scaleImages>2.5</scaleImages-->
      <coverStamp>None</coverStamp>
      <coverTextFont>profiles/fonts/LinLibertine_RBah.ttf</coverTextFont>
      <generateOPFGuide>True</generateOPFGuide>
      <dropcaps>None</dropcaps>
      <chapterOnNewPage>True</chapterOnNewPage>
      <authorFormat>#l #f #m</authorFormat>
      <bookTitleFormat>{(#abbrseries{ #padnumber}) }#title</bookTitleFormat>
      <annotationTitle>Annotation</annotationTitle>
      <generateAnnotationPage>True</generateAnnotationPage>
      <tocBeforeBody>False</tocBeforeBody>
      <tocTitle>Content</tocTitle>
      <tocType>Normal</tocType>
      <generateTOCPage>True</generateTOCPage>
      <notesMode>flat</notesMode>
      <notesBodies>notes,Примечания,comments,Комментарии</notesBodies>
      <vignettes>
        <vignette level="default">
          <beforeTitle>profiles/vignettes/title_before.png</beforeTitle>
          <afterTitle>profiles/vignettes/title_after.png</afterTitle>
          <chapterEnd>profiles/vignettes/chapter_end.png</chapterEnd>
        </vignette>
        <vignette level="h0">
          <beforeTitle>None</beforeTitle>
          <afterTitle>None</afterTitle>
          <chapterEnd>None</chapterEnd>
        </vignette>
        <vignette level="h1">
          <beforeTitle>profiles/vignettes/title_before.png</beforeTitle>
          <afterTitle>profiles/vignettes/title_after.png</afterTitle>
          <chapterEnd>profiles/vignettes/chapter_end.png</chapterEnd>
        </vignette>
      </vignettes>
    </profile>
  </profiles>
  <sendToKindle>
    <send>False</send>
    <deleteSendedBook>True</deleteSendedBook>
    <smtpServer>smtp.gmail.com</smtpServer>
    <smtpPort>587</smtpPort>
    <smtpLogin>[Your Google Email]</smtpLogin>
    <smtpPassword>[Your Google Password]</smtpPassword>
    <fromUserEmail>[Your Google Email]</fromUserEmail>
    <toKindleEmail>[Your Kindle Email]</toKindleEmail>
  </sendToKindle>
  </settings>