@font-face {
    font-family: "paragraph";
    src: url("c:/Windows/Fonts/georgia.ttf");
}
@font-face {
    font-family: "paragraph";
    src: url("c:/Windows/Fonts/georgiai.ttf");
    font-style: italic;
}
@font-face {
    font-family: "paragraph";
    src: url("c:/Windows/Fonts/georgiab.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "paragraph";
    src: url("c:/Windows/Fonts/georgiaz.ttf");
    font-style: italic;
    font-weight: bold;
}

body { font-family:"paragraph" }

@font-face {
    font-family: "titili";
    src: url("c:/Windows/Fonts/myfont.ttf");
}
@font-face {
    font-family: "titili";
    src: url("c:/Windows/Fonts/myfont-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "titili";
    src: url("c:/Windows/Fonts/myfont-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "titili";
    src: url("c:/Windows/Fonts/myfont-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

.h0 {   
    font-family: "titili" !important;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 1em;
}
