<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDisplayName</key>
    <string>fb2mobi-gui</string>
    <key>CFBundleDocumentTypes</key>
    <array>   
        <dict>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>****</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
        </dict> 
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>fb2</string>
                <string>zip</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
        </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>fb2mobi-gui</string>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
</dict>
</plist>
